html{
    background-color: black;
    background-image: url(703-1.jpg);
}

#photo {
    border-radius: 100%;
    position: absolute;
    left: 88px;
    z-index: 2;
    font-family: Epilogue,sans-serif;
    transition: all .5s;
    border: 10px solid transparent;
}

#photo:hover {
    border: 10px solid #ff00f2;
    border-radius: 50%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    background-color: #260986;
    width: 50%;
    margin: auto;
    border: 1px solid transparent;
}


.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #002fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    justify-content: center;
    height: 2.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border: 0;
    cursor: pointer;
    width: 60%;
    padding: 3px 1rem 0;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.386);
}