h1 {
    font-family: sans-serif;
    color: red;
    text-align: center;
}

p {
    font-weight: 600px;
}

body {
    font-size: 16px;
}

.amarelo {
    color: yellow;
}

.vermelho {
    color: red;
}

.marrom {
    color: rgb(23, 14, 0);
}
