* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    margin-bottom: 40px;
}

#person-full-name {
    width: 50%;
    margin-bottom: 10px;
}

#email-person {
    width: 50%;
    margin-bottom: 30px;
}

#text {
    margin-top: 20px;
}

#date {
    margin: 20px 0;
}

#box {
    margin: 0 auto 20px;
}

#btn {
    padding: 20px;
    font-size: medium;
}

textarea {
    width: 90%;
    height: 100px;
    margin-top: 20px;
    resize: none;
}

.person-data {
    text-align: center;
}